.item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.item--highlighted {
  background-color: #efefef;
}

.item__image {
  width: 150px;
  margin-right: 25px;
}

.item__detail {
  flex-grow: 1;
  flex-direction: column;
}

.item__detail_title {
  margin: 0;
  color: #000000;
}

.item__detail_subtitle {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color: #000000;
}

.item__detail_subtitle--highlighted {
  color: #81B5D8;
}
