.app {
  padding: 20px;
  max-width: 750px;
  margin: 0 auto;
}

.app__content {
  border: 1px solid gray;
  padding: 0 20px;
  border-radius: 10px;
}

.app__header {
  color: #000000;
  text-decoration: none;
}
